[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
yfinance = "*"
boto3 = "*"
fsspec = "*"
s3fs = "*"
pyarrow = "*"
pyspark = "*"
apache-airflow = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
bandit = "*"
awscli-local = "*"
ipykernel = "*"

[requires]
python_version = "3.10.1"
